    <p>Paste some text or HTML in to that darned beautiful text box down there and it&rsquo;ll escape any nasty characters that should be entities. Perfect for ridding text of Microsoft Word specific quotations. <strong>The Entitifier doesn't like HTML5 elements, yet. Please avoid them.</strong></p>

    <script type="text/javascript"><!--
        google_ad_client = "ca-pub-4887694468579242";
        /* Entitifier */
        google_ad_slot = "7781035183";
        google_ad_width = 728;
        google_ad_height = 90;
        //-->
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>

    <form action="/" method="post">
        <p>
            <textarea name="html" rows="10" cols="40" placeholder="Text, omm nom nom"></textarea>
            <label for="text">Text</label> <input type="radio" name="text_or_html" id="text" value="text" checked="checked" />
            <label for="html">HTML</label> <input type="radio" name="text_or_html" id="html" value="html" />
            <label for="typographic_quotes">Typographic Quotes?</label> <input type="checkbox" name="typographic_quotes" id="typographic_quotes" value="typographic_quotes" />
            <input type="hidden" name="javascript_disabled" id="javascript_disabled" value="javascript_disabled" />
            <input type="submit" id="submit" value="Entitify" />
            <!-- I'm working on it <button type="button" id="to_clipboard" disabled="disabled">Copy to Clipboard</button>-->
        </p>
    </form>
