    <p>Paste some text or HTML in to that darned beautiful text box down there and it'll escape any nasty characters that should be entities. Perfect for ridding text of Microsoft Word specific quotations. <strong>The Entitifier doesn't like inline PHP etc. tags or HTML5 elements, yet. Please avoid them.</strong></p>
    <form id="direct" action="/direct_input" method="post">
        <p>
            <textarea name="html" rows="10" cols="40" placeholder="Text, omm nom nom"></textarea>
            <label for="text">Text</label> <input type="radio" name="text_or_html" id="text" value="text" />
            <label for="html">HTML</label> <input type="radio" name="text_or_html" id="html" value="html" />
            <label for="typographic_quotes">Typographic Quotes?</label> <input type="checkbox" name="typographic_quotes" id="typographic_quotes" />
            <input type="submit" id="submit" value="Entitify" />
            <!-- I'm working on it <button type="button" id="to_clipboard" disabled="disabled">Copy to Clipboard</button>-->
        </p>
    </form>