<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	
	<!--[if IE]><![endif]-->
	
	<title>Entitifier</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="This tool will convert any characters in text or HTML to the proper HTML entities. Great for getting rid of Microsoft Word specific quotes.">
	<meta name="author" content="Sam Bowler">
	<meta name="keywords" content="microsoft, word, html, entities, entity, quotes, quotation, entitifier, sam, bowler">
	
	<link href="/css/style.css" rel="stylesheet" />
	<script src="/scripts/modernizr-1.5.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script>!window.jQuery && document.write('<script src="scripts/jquery-1.4.2.min.js"><\/script>')</script>
	<script src="/scripts/onload.js"></script>
</head>
<body>  
    <header>
        <h1><a href="/">Entitifier</a></h1>
        <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://entitifier.sambowler.com" data-text="Entitifier: a little tool to encode characters in text or HTML w/ the correct entities." data-count="horizontal" data-via="aninnovativeweb">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </header>
    
    <div id="main">
    <%= yield %>
    </div><!-- end #main -->
	
    <footer>
      <p>Made by <a href="http://sambowler.com">Sam Bowler</a>, <a href="http://twitter.com/aninnovativeweb">follow me on twitter</a>. I'd really appreciate some help fixing the issues on <a href="http://github.com/sambowler/entitifier">github</a>. </p>
    </footer>
    
    <script>
     var _gaq = [['_setAccount', 'UA-6873982-4'], ['_trackPageview']];
     (function(d, t) {
      var g = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      g.async = true;
      g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s);
     })(document, 'script');
    </script>
</body>
</html>